<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-2">
            <form action="/book/<%= book.id_book %>/create" method="post">
                <div class="mb-3">
                    <label for="read-date" class="form-label">Date de lecture</label>
                    <input type="date" id="read-date" class="form-control" required name="read-date" value=<%= book.read_date.toISOString().split('T')[0] %>>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Note</label>
                    <input type="number" min="0" max="5" step="1" required id="rating" class="form-control" name="rating" value=<%= book.rating %>>
                </div>
                <div class="mb-3">
                    <label class="form-label">Critique</label> 
                    <textarea name="review" required class="form-control"><%= book.review %></textarea>
                </div>
                <input type="hidden" name="author_id" value="book.author_id">
                <input type="hidden" name="title" value="book.title">
                <input type="hidden" name="cover_url" value="book.cover_url">
                <input type="hidden" name="id_author" value="book.id_author">
                <input type="hidden" name="last_name" value="book.last_name">
                <input type="hidden" name="first_name" value="book.first_name">
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>