<%- include("partials/header.ejs") %>

<body>
   <form action="/submit" method="POST">
      <textarea type="text" name="article" placeholder="Mon article...">
         <%if(locals.index){%>
            <%= articles[index] %>
            <%  }%>
         </textarea>
      <input type="submit" value="OK">
   </form>
   <%if(locals.articles){%>
   <%articles.forEach(function(article, index){%>
   <ul>
      <li>
         <form action="/edit" method="POST">
            <%= article %>
            <input type="hidden" name="index" value="<%= index %>">
            <input type="submit" value="Modifier">
         </form>
      </li>
   </ul>
   <%});%>
   <%}%>
</body>
<%- include("partials/footer.ejs") %>